.navbar {
  display: flex;
  justify-content: space-between;
  padding: 20px 40px;
  background-color: #121212;
}

.navbar-left {
  display: flex;
  align-items: center;
}

.navbar-logo {
  width: 40px;
  height: 40px;
 /*  background-image: url('/path-to-logo.png'); Logonun yolu */
  background-size: cover;
}

.navbar-title {
  font-size: 24px;
  font-weight: bold;
  color: #fff;
  margin-left: 10px;
}

.navbar-right {
  display: flex;
  list-style: none;
}

.navbar-right li {
  margin: 0 15px;
}

.nav-link {
  text-decoration: none;
  color: #fff;
}

.nav-link:hover {
  color: #ff7f50;
}