body, html {
  margin: 0;
  padding: 0;
}

.adminHomePage {
  display: flex;
  flex-direction: column;
  height: 100vh; /* Sayfanın tamamını kaplaması için */
}

.layout {
  display: flex;
  flex: 1;
  gap: 5px; /* Topbar ile Sidebar arasında 5px boşluk */
}

.sidebar {
  width: 250px;
  height: calc(100% - 60px); /* Topbar yüksekliği kadar çıkar */
  position: fixed;
  top: 60px; /* Topbar yüksekliği kadar aşağıya kaydır */
  left: 0;
  background: #0F2027;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #2C5364, #203A43, #0F2027);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #2C5364, #203A43, #0F2027); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

  color: #ecf0f1;
  padding: 20px;
  display: flex;
  flex-direction: column;
  z-index: 1;
}

.topbar {
  height: 60px;
  width: calc(100% - 250px - 5px); /* Sidebar genişliği ve gap kadar çıkar */
  background: #0F2027;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #2C5364, #203A43, #0F2027);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #2C5364, #203A43, #0F2027); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  color: #fff;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  top: 0;
  left: 250px; /* Sidebar genişliği kadar sola kaydır */
  z-index: 1000;
}

.content {
  flex: 1;
  overflow-y: auto; /* İçeriğin taşması durumunda yalnızca içinde scroll oluştur */
  padding: 20px;
  background-color: #f4f4f4;
  margin-top: 60px; /* Topbar yüksekliği kadar margin ekle */
  margin-left: calc(250px + 5px); /* Sidebar genişliği ve gap kadar sola kaydır */
  display: flex;
  justify-content: center; /* Yatayda ortalamak için */
  align-items: center; /* Dikeyde ortalamak için */
  box-sizing: border-box; /* İçerik kenar boşlukları ve padding hesaplamaları için */
  border-radius: 10px;
  background-color: #ffffff;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.adminHomePage .topbar {
  width: 100%;
  height: 60px;
  background-color: #34495e;
  color: #ecf0f1;
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1000;
}

.adminHomePage .sidebar {
  width: 250px;
  height: 100%;
  position: fixed;
  top: 60px; /* Topbar yüksekliği kadar aşağıya kaydır */
  left: 0;
  background-color: #2c3e50;
  color: #ecf0f1;
  padding: 20px;
  display: flex;
  flex-direction: column;
  z-index: 1;
}

.adminHomePage .sidebar h2 {
  text-align: center;
}

.adminHomePage .sidebar ul {
  list-style: none;
  padding: 0;
}

.adminHomePage .sidebar ul li {
  margin: 20px 0;
}

.adminHomePage .sidebar ul li a {
  color: #ecf0f1;
  text-decoration: none;
}

.adminHomePage .sidebar ul li a:hover {
  color: #3498db;
}

.adminHomePage .main-content {
  flex-grow: 1;
  background-color: #ecf0f1;
  display: flex;
  flex-direction: column;
}

.adminHomePage .search-box input {
  padding: 5px;
  border: none;
  border-radius: 3px;
  justify-content: right;
}

.adminHomePage .user-info {
  display: flex;
  align-items: center;
  position: relative;
  right: 50px;
}

.adminHomePage .user-info img {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  margin-left: 10px;
  object-fit: cover;
}

.adminHomePage .dashboard {
  padding: 20px;
}

.adminHomePage .stats {
  display: flex;
  justify-content: space-around;
}

.adminHomePage .stat {
  background-color: #fff;
  padding: 20px;
  border-radius: 5px;
  text-align: center;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.adminHomePage .stat h3 {
  margin: 0;
  font-size: 24px;
}

.adminHomePage .stat p {
  margin: 5px 0 0;
}

.adminHomePage .admin-events {
  padding: 20px;
}

.adminHomePage .events-list {
  display: grid;
  gap: 20px;
}

.adminHomePage .event-item {
  background-color: #f0f0f0;
  padding: 10px;
  border-radius: 5px;
}

.adminHomePage .event-item h3 {
  margin-bottom: 5px;
}

.adminHomePage .event-item p {
  margin: 0;
}

.adminHomePage .close-admin-page{
  text-decoration: none;
  position: relative;
  margin-left: 10px;
  color: white;
}
