.admin-djs-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #f0f0f0;
  background: #0F2027;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #2C5364, #203A43, #0F2027); 
  background: linear-gradient(to right, #2C5364, #203A43, #0F2027); 
  border-radius: 10px;
  padding: 20px;
  width: 100%;
  margin: 20px;
}

.dj-form-container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 10;
  visibility: hidden;
  opacity: 0;
  transition: visibility 0s, opacity 0.3s ease;
}

.dj-form-container.active {
  visibility: visible;
  opacity: 1;
}

.dj-form {
  position: relative;
  background-color: #fff;
  padding: 20px;
  border-radius: 10px;
  width: 400px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.dj-form h2 {
  margin-top: 0;
  text-align: center;
}

.dj-form input,
.dj-form textarea {
  width: 100%;
  margin-bottom: 10px;
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.dj-form button {
  width: 100%;
  padding: 10px;
  background-color: #3498db;
  border: none;
  color: #fff;
  cursor: pointer;
  border-radius: 4px;
}

.dj-form button.add-btn {
  background-color: green;
}

.dj-form button.add-btn:hover {
  background-color: #0056b3;
}

.dj-list {
  margin-top: 20px;
  width: 100%;
}

.dj-list h2 {
  color: white;
  text-align: center;
}

.grid-container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  gap: 20px;
}

.dj-list-item {
  background-color: #f0f0f0;
  padding: 10px;
  border-radius: 10px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.dj-list-item h3 {
  margin-bottom: 5px;
  text-align: center;
}

.dj-list-item img {
  width: 180px;
  height: 100px;
  border-radius: 5px;
  object-fit: cover;
}

.social-media-links {
  list-style: none;
  padding: 0;
  display: flex;
  justify-content: center;
}

.social-media-links li {
  margin: 0 5px;
}

.social-media-links a {
  color: #3498db;
}

.social-media-links a:hover {
  text-decoration: none;
  color: #2980b9;
}

.close-form-btn {
  position: absolute;
  top: 10px;
  right: 10px;
  padding: 8px 12px;
  background-color: #f00;
  color: #fff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.close-form-btn:hover {
  background-color: #f55;
}

.add-btn {
  background-color: green;
  color: #fff;
  padding: 10px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  margin-bottom: 10px;
}

.add-btn:hover {
  background-color: #0056b3;
}

.delete-btn {
  background-color: red;
  color: #fff;
  padding: 5px 10px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  margin-top: 10px;
}

.update-btn {
  background-color: #3498db;
  color: #fff;
  padding: 5px 10px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  margin-top: 10px;
  margin-right: 10px;
}

.update-btn:hover {
  background-color: #2980b9;
}

.button-container {
  display: flex;
  justify-content: space-between;
  margin-top: 10px;
}

.photo-list {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  justify-content: center;
}

.dj-photo {
  width: 180px;
  height: 100px;
  object-fit: cover;
  border-radius: 4px;
}
